* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(/Grand\ Theft\ Auto\ V\ Wallpaper\ \(23\).jpg);
    background-size: cover;


}

.logindiv {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter:saturate(180%)blur(8px);
    border-radius: 5px;
    height: 310px;
    width: 290px;
    position: absolute;
  right: 500px;
  left: 500px;
  top: 200px;
 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

#login {
    height: 30px;
    width: 180px;
    padding-left: 7px;
    border-radius: 3px;
    border: none;
}

#password {
    height: 30px;
    width: 180px;
    padding-left: 7px;
    border-radius: 3px;
    border: none;
}

#submit {
    height: 30px;
    width: 190px;
    background-color: #007bff;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
   
}